<template>
  <h1>${message}</h1>

	<form submit.trigger="defineQuizUsername()">
    <input type="text" value.bind="username">
	  <button type="submit" class="btn">Start Quiz</button>
	</form>
</template>
